body{
    color: #343a40;
}
#wrapper #content-wrapper{
    background-color: #f4f6f9;
}
.bg-gradient-primary {
    background-color:
            #343a40;
    background-image: none;
    background-size: cover;
}

.bg-success{
    background-color: #28a745 !important;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: none;
}

.text-primary{
    color:#343a40 !important;
}
.table{
    color:#343a40;
}

.sidebar .nav-item .nav-link span, .sidebar .nav-item .nav-link i{
    font-size: 1.1rem;
    color: #c2c7d0;
}

#content, .main{
    margin-bottom: 5rem;
}

.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    display: block;
    margin-bottom: 20px;
    position: relative;
}
.small-box>.inner {
    padding: 10px;
}
.small-box h3{
    font-weight: 700;
}
.small-box, .small-box >a {
    color: #fff;
}
.small-box .icon {
    color: rgba(0,0,0,.15);
    z-index: 0;
    position: absolute;
    top: 7px;
    right: 8px;
    font-size: 4rem;
}
.small-box>.small-box-footer {
    background-color: rgba(0,0,0,.1);
    color: rgba(255,255,255,.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}
.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e3e6f0;
}

.card-title{
    color: #fff;
    margin-bottom: 0px;
    font-weight: 600;
}

footer.sticky-footer {
    padding: 2rem 0;
    flex-shrink: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
